NYMPHS2D2_MODEL_ID=playgroundai/playground-v2.5-1024px-aesthetic
NYMPHS2D2_DEVICE=cuda
NYMPHS2D2_DTYPE=float16
NYMPHS2D2_PORT=8090
NYMPHS2D2_OUTPUT_DIR=/home/nymphs3d/Nymphs2D2/outputs
# NYMPHS3D_HF_TOKEN=
# NYMPHS3D_HF_CACHE_DIR=/home/nymphs3d/.cache/huggingface/hub
